<h1 id="title" class="title">Autenticação</h1>
<p class="sub-title">Olá! Faça login com seu e-mail.</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
	<p class="alert-title"><b>Ops!</b></p>
	<ul class="alert-message-list">
		<li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
	</ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
	<p class="alert-title"><b>Sucesso!</b></p>
	<ul class="alert-message-list">
		<li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
	</ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

	<div class="form-control-group">
		<label class="label" for="input-email">Email:</label>
		<input nbInput
			   fullWidth
			   [(ngModel)]="user.email"
			   #email="ngModel"
			   name="email"
			   id="input-email"
			   placeholder="Email"
			   autofocus
			   [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
			   [required]="getConfigValue('forms.validation.email.required')"
			   [attr.aria-invalid]="email.invalid && email.touched ? true : null">
		<ng-container *ngIf="email.invalid && email.touched">
			<p class="error-message" *ngIf="email.errors?.required">
				Email é obrigatório!
			</p>
			<p class="error-message" *ngIf="email.errors?.pattern">
				Email é inválido!
			</p>
		</ng-container>
	</div>

	<div class="form-control-group">
		<label class="label" for="input-password">Senha:</label>
		<input nbInput
			   fullWidth
			   [(ngModel)]="user.password"
			   #password="ngModel"
			   name="password"
			   type="password"
			   id="input-password"
			   placeholder="Password"
			   [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
			   [required]="getConfigValue('forms.validation.password.required')"
			   [minlength]="getConfigValue('forms.validation.password.minLength')"
			   [maxlength]="getConfigValue('forms.validation.password.maxLength')"
			   [attr.aria-invalid]="password.invalid && password.touched ? true : null">
		<ng-container *ngIf="password.invalid && password.touched ">
			<p class="error-message" *ngIf="password.errors?.required">
				Senha é obrigatória!
			</p>
			<p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
				A senha deve conter
				de {{ getConfigValue('forms.validation.password.minLength') }}
				a {{ getConfigValue('forms.validation.password.maxLength') }}
				caracteres
			</p>
		</ng-container>
	</div>

	<div class="form-control-group accept-group">
		<nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Lembrar-me</nb-checkbox>
		<a class="forgot-password" routerLink="../request-password">Esqueceu a senha?</a>
	</div>

	<button nbButton
			fullWidth
			status="success"
			[disabled]="submitted || !form.valid"
			[class.btn-pulse]="submitted">
		Autenticar
	</button>
</form>
