<nb-card>
	<nb-card-header>
		Empresas
	</nb-card-header>

	<nb-card-body>
		<ng2-smart-table (create)="openCreate($event)" (edit)="openEdit($event)" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
