<div class="breadcrumb-bar">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
		<li *ngFor="let b of breadcrumbs; let i = index;" class="breadcrumb-item">
			<a routerLink="/{{b.url}}" *ngIf="i < breadcrumbs.length-1">{{b.label}}</a>
			<span *ngIf="i >= breadcrumbs.length-1">{{b.label}}</span>
		</li>
	</ul>
</div>
