<h1 id="title" class="title">Recuperar Senha</h1>
<p class="sub-title">Entre com o seu email para enviarmos o link de redefinição de senha.</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
	<p class="alert-title"><b>Ops!</b></p>
	<ul class="alert-message-list">
		<li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
	</ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
	<p class="alert-title"><b>Sucesso!</b></p>
	<ul class="alert-message-list">
		<li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
	</ul>
</nb-alert>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

	<div class="form-control-group">
		<label class="label" for="input-email">Insira seu email:</label>
		<input nbInput
			   [(ngModel)]="user.email"
			   #email="ngModel"
			   id="input-email"
			   name="email"
			   pattern=".+@.+\..+"
			   placeholder="Email address"
			   autofocus
			   fullWidth
			   [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
			   [required]="getConfigValue('forms.validation.email.required')"
			   [attr.aria-invalid]="email.invalid && email.touched ? true : null">
		<ng-container *ngIf="email.invalid && email.touched">
			<p class="error-message" *ngIf="email.errors?.required">
				Email é obrigatório!
			</p>
			<p class="error-message" *ngIf="email.errors?.pattern">
				Email é inválido!
			</p>
		</ng-container>
	</div>

	<button nbButton
			fullWidth
			status="success"
			[disabled]="submitted || !requestPassForm.valid"
			[class.btn-pulse]="submitted">
		Recuperar Senha
	</button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
	<p><a class="text-link" routerLink="../login">Voltar para a tela de Autenticação</a></p>
</section>
