<form name="company" [formGroup]="form" (ngSubmit)="onSubmit()" action="">
	<nb-card>
		<nb-card-header>
			{{title}}
		</nb-card-header>
		<nb-card-body>
			<p class="description" *ngIf="description != ''">
				{{description}}
			</p>

			<div class="form-group row">
				<label for="input-name" class="col-sm-2 col-form-label">
					Nome *
				</label>
				<div class="col-sm-6">
					<input 	nbInput
							fullWidth
							type="text"
							formControlName="name"
							id="input-name"
							placeholder="Nome da empresa"
							autofocus
							[status]="f.name.dirty ? (f.name.invalid  ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="f.name.invalid && f.name.touched ? true : null"
					/>
					<ng-container *ngIf="f.name.invalid && f.name.touched">
						<p class="error-message" *ngIf="f.name.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="f.name.errors.exists">
							O nome informado para a empresa já existe.
						</p>
					</ng-container>
				</div>
			</div>
			<div class="form-group row">
				<label for="input-social-reason" class="col-sm-2 col-form-label">
					Razão social
				</label>
				<div class="col-sm-6">
					<input	nbInput
							type="text"
							fullWidth
							formControlName="socialReason"
							id="input-social-reason"
							placeholder="Razão social"
							[status]="f.socialReason.dirty ? (f.socialReason.invalid ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="f.socialReason.invalid && f.socialReason.touched"
					/>
					
					<ng-container *ngIf="f.socialReason.invalid && f.socialReason.touched">
						<p class="error-message" *ngIf="f.socialReason.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="f.socialReason.errors.exists">
							A razão social informada para a empresa já existe.
						</p>
					</ng-container>
				</div>
			</div>
			<div class="form-group row">
				<label for="input-cnpj" class="col-sm-2 col-form-label">
					Cnpj *
				</label>
				<div class="col-sm-4">
					<input	nbInput
							type="text"
							fullWidth
							formControlName="cnpj"
							id="input-cnpj"
							placeholder="CNPJ da empresa"
							[status]="f.cnpj.dirty ? (f.cnpj.invalid ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="f.cnpj.invalid && f.cnpj.touched"
					/>
					<ng-container *ngIf="f.cnpj.invalid && f.cnpj.touched">
						<p class="error-message" *ngIf="f.cnpj.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="f.cnpj.errors.exists">
							O cnpj informado para a empresa já existe.
						</p>
					</ng-container>
				</div>
			</div>
			<div class="form-group row">
				<label for="input-register" class="col-sm-2 col-form-label">
					Inscrição Estadual
				</label>
				<div class="col-sm-4">
					<input	nbInput
							type="text"
							fullWidth
							formControlName="register"
							id="input-register"
							placeholder="Inscrição estadual da empresa"
							[status]="f.register.dirty ? (f.register.invalid ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="f.register.invalid && f.register.touched"
					/>
					<ng-container *ngIf="f.register.invalid && f.register.touched">
						<p class="error-message" *ngIf="f.register.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="f.register.errors.exists">
							O register informado para a empresa já existe.
						</p>
					</ng-container>
				</div>
			</div>
			<div class="form-group row">
				<label for="input-email" class="col-sm-2 col-form-label">
					E-mail
				</label>
				<div class="col-sm-5">
					<input	nbInput
							type="text"
							fullWidth
							formControlName="email"
							id="input-email"
							placeholder="E-mail da empresa"
							[status]="f.email.dirty ? (f.email.invalid ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="f.email.invalid && f.email.touched"
					/>
					<ng-container *ngIf="f.email.invalid && f.email.touched">
						<p class="error-message" *ngIf="f.email.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="f.email.errors.exists">
							O e-mail informado para a empresa é inválido.
						</p>
					</ng-container>
				</div>
			</div>
			<div class="form-group row">
				<label for="input-foundationDate" class="col-sm-2 col-form-label">
					Data de abertura
				</label>
				<div class="col-sm-2">
					<input	nbInput
							[nbDatepicker]="foundationDate"
							fullWidth
							formControlName="foundationDate"
							id="input-foundationDate"
							placeholder="dd/mm/aaaa"
							[status]="f.foundationDate.dirty ? (f.foundationDate.invalid ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="f.foundationDate.invalid && f.foundationDate.touched"
					/>
					<nb-datepicker #foundationDate></nb-datepicker>
					<ng-container *ngIf="f.foundationDate.invalid && f.foundationDate.touched">
						<p class="error-message" *ngIf="f.foundationDate.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="f.foundationDate.errors.invalid">
							A data informada é inválida.
						</p>
					</ng-container>
				</div>
			</div>
			<div formGroupName="address">
				<div class="form-group row">
					<label for="input-postalCode" class="col-sm-2 col-form-label">
						CEP *
					</label>
					<div class="col-sm-2">
						<input	nbInput
								fullWidth
								formControlName="postalCode"
								id="input-postalCode"
								placeholder="99.999-999"
								[status]="fa.postalCode.dirty ? (fa.postalCode.invalid ? 'danger' : 'success') : ''"
								[attr.aria-invalid]="fa.postalCode.invalid && fa.postalCode.touched"
						/>
						<ng-container *ngIf="fa.postalCode.invalid && fa.postalCode.touched">
							<p class="error-message" *ngIf="fa.postalCode.errors.required">
								Campo obrigatório.
							</p>
							<p class="error-message" *ngIf="fa.postalCode.errors.invalid">
								CEP inválida.
							</p>
						</ng-container>
					</div>
				</div>
				<div class="form-group row">
					<label for="input-street" class="col-sm-2 col-form-label">
						Rua
					</label>
					<div class="col-sm-5">
						<input	nbInput
								fullWidth
								formControlName="street"
								id="input-street"
								placeholder="Nome da rua"
								[status]="fa.street.dirty ? (fa.street.invalid ? 'danger' : 'success') : ''"
								[attr.aria-invalid]="fa.street.invalid && fa.street.touched"
						/>
						<ng-container *ngIf="fa.street.invalid && fa.street.touched">
							<p class="error-message" *ngIf="fa.street.errors.required">
								Campo obrigatório.
							</p>
						</ng-container>
					</div>
				</div>
				<div class="form-group row">
					<label for="input-number" class="col-sm-2 col-form-label">
						Número
					</label>
					<div class="col-sm-2">
						<input	nbInput
								fullWidth
								formControlName="number"
								id="input-number"
								placeholder="Nome da rua"
								[status]="fa.number.dirty ? (fa.number.invalid ? 'danger' : 'success') : ''"
								[attr.aria-invalid]="fa.number.invalid && fa.number.touched"
						/>
						<ng-container *ngIf="fa.number.invalid && fa.number.touched">
							<p class="error-message" *ngIf="fa.number.errors.required">
								Campo obrigatório.
							</p>
						</ng-container>
					</div>
				</div>
				<div class="form-group row">
					<label for="input-complement" class="col-sm-2 col-form-label">
						Complemento
					</label>
					<div class="col-sm-4">
						<input	nbInput
								fullWidth
								formControlName="complement"
								id="input-complement"
								placeholder="Ex: apto, bloco, sala."
								[status]="fa.complement.dirty ? (fa.complement.invalid ? 'danger' : 'success') : ''"
								[attr.aria-invalid]="fa.complement.invalid && fa.complement.touched"
						/>
						<ng-container *ngIf="fa.complement.invalid && fa.complement.touched">
							<p class="error-message" *ngIf="fa.complement.errors.required">
								Campo obrigatório.
							</p>
						</ng-container>
					</div>
				</div>
				<div class="form-group row">
					<label for="input-neighborhood" class="col-sm-2 col-form-label">
						Bairro
					</label>
					<div class="col-sm-4">
						<input	nbInput
								fullWidth
								formControlName="neighborhood"
								id="input-neighborhood"
								placeholder="Nome do bairro"
								[status]="fa.neighborhood.dirty ? (fa.neighborhood.invalid ? 'danger' : 'success') : ''"
								[attr.aria-invalid]="fa.neighborhood.invalid && fa.neighborhood.touched"
						/>
						<ng-container *ngIf="fa.neighborhood.invalid && fa.neighborhood.touched">
							<p class="error-message" *ngIf="fa.neighborhood.errors.required">
								Campo obrigatório.
							</p>
						</ng-container>
					</div>
				</div>
				<div class="form-group row">
					<label for="input-uf" class="col-sm-2 col-form-label">
						Estado *
					</label>
					<div class="col-sm-2">
						<input nbInput disabled *ngIf="states.length === 0" value="Carregando..." />
						<nb-select *ngIf="states.length > 0" id="input-uf" placeholder="UF" formControlName="uf" (selectedChange)="onStateSelect($event)">
							<nb-option *ngFor="let s of states" [value]="s">{{s.uf}}</nb-option>
						</nb-select>
						<!-- <ng-container *ngIf="form.get('uf').invalid && form.get('uf').touched">
							<p class="error-message" *ngIf="form.get('f.uf').errors.required">
								Campo obrigatório.
							</p>
							<p class="error-message" *ngIf="form.get('uf').f.errors.invalid">
								O estado selecionado é inválida.
							</p>
						</ng-container> -->
					</div>
				</div>
				<div class="form-group row">
					<label for="input-city" class="col-sm-2 col-form-label">
						Cidade *
					</label>
					<div class="col-sm-4">
						<input nbInput disabled *ngIf="cities.length === 0" value="Selecione o estado" />
						<nb-select *ngIf="cities.length > 0" id="input-city" placeholder="Cidade" formControlName="city">
							<nb-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</nb-option>
						</nb-select>
						<!-- <ng-container *ngIf="city.invalid && city.touched">
							<p class="error-message" *ngIf="f.city.errors.required">
								Campo obrigatório.
							</p>
							<p class="error-message" *ngIf="city.f.errors.invalid">
								A cidade selecionada é inválida.
							</p>
						</ng-container> -->
					</div>
				</div>
				<div class="form-group row">
					<label for="input-city" class="col-sm-2 col-form-label">
						Logo
					</label>
					<div class="col-sm-4">
						<div class="button-search-file">
							<!-- <button type="button" nbButton>Procurar</button> -->
							<input type="file" name="logo" accept="image/*" (change)="onLogoFileChange($event)" />
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="input-city" class="col-sm-2 col-form-label">
						Background
					</label>
					<div class="col-sm-4">
						<div class="button-search-file">
							<!-- <button type="button" nbButton>Procurar</button> -->
							<input type="file" name="background" accept="image/*"  (change)="onBackgroundFileChange($event)" />
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="form-group row">
				<label for="input-foundationDate" class="col-sm-2 col-form-label">
					Data de abertura
				</label>
				<div class="col-sm-2">
					<input	nbInput
							fullWidth
							[(ngModel)]="company.foundationDate"
							name="foundationDate"
							#foundationDate="ngModel"
							id="input-foundationDate"
							placeholder="dd/mm/aaaa"
							[status]="foundationDate.dirty ? (foundationDate.invalid ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="foundationDate.invalid && foundationDate.touched"
					/>
					<ng-container *ngIf="foundationDate.invalid && foundationDate.touched">
						<p class="error-message" *ngIf="f.foundationDate.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="foundationDate.f.errors.invalid">
							A data informada é inválida.
						</p>
					</ng-container>
				</div>
			</div>
			<div class="form-group row">
				<label for="input-foundationDate" class="col-sm-2 col-form-label">
					Data de abertura
				</label>
				<div class="col-sm-2">
					<input	nbInput
							fullWidth
							[(ngModel)]="company.foundationDate"
							name="foundationDate"
							#foundationDate="ngModel"
							id="input-foundationDate"
							placeholder="dd/mm/aaaa"
							[status]="foundationDate.dirty ? (foundationDate.invalid ? 'danger' : 'success') : ''"
							[attr.aria-invalid]="foundationDate.invalid && foundationDate.touched"
					/>
					<ng-container *ngIf="foundationDate.invalid && foundationDate.touched">
						<p class="error-message" *ngIf="f.foundationDate.errors.required">
							Campo obrigatório.
						</p>
						<p class="error-message" *ngIf="foundationDate.f.errors.invalid">
							A data informada é inválida.
						</p>
					</ng-container>
				</div>
			</div> -->



		</nb-card-body>
		<nb-card-footer>
			<div class="text-right">
				<button	nbButton
						type="submit"
						status="success"
						[disabled]="isLoading || !form.valid"
						[class.btn-pulse]="isLoading">Salvar</button>
			</div>
		</nb-card-footer>
	</nb-card>
	
</form>