
@-webkit-keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0)
	}
	100% {
		-moz-transform: rotate(360deg)
	}
}

@keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

.spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1003;
	background: #FFFFFF;
	overflow: hidden;
}

.spinner div:first-child {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	box-shadow: 0 3px 3px 0 rgba(#3dcc6d, 1);
	transform: translate3d(0, 0, 0);
	animation: spin 2s linear infinite;
}

nb-card-body {
	overflow: unset !important;
}
.cdk-overlay-pane {
	nb-card-body {
		overflow: auto !important;
	}
}

.nb-theme-default [_nghost-c1] nb-sidebar.menu-sidebar[_ngcontent-c1] .main-container {
	height: calc(100vh - 4.75rem) !important;
}

button {
	cursor: pointer !important;
}
p.error-message {
	color: #ff4c6a;
	margin-top: 5px;
}
.button-search-file {
	position: relative;
}